body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    font-weight: 900;
}

.header>* {
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>div {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: #F9FAf8;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    padding: 0;
    margin: 0;
    line-height: 1;
}

h2 {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #F9FAf8;
}

a {
    color: #3882f6;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.quote em {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}

.quote h5 {
    text-align: right;
    width: 50%;
    margin: 0 auto;
}

h3 {
    color: #e5e7eb;
    font-weight: 200;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    padding-block: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    gap: 0;
    padding: 0;
    margin: 0;
}

.right {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.img {
    color: #1f2937;
    font-weight: 400;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: .4rem 1.5rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: .4rem;
    cursor: pointer;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.square {
    width: 130px;
    height: 130px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.square-holder {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    width: 60%;
    margin-top: 60px;
}

.square-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    margin: 0;
}